@{
    var baseWebUrl = VirtualPathUtility.ToAbsolute("~");
    var baseWebApi = "http://localhost:85/api";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - AngularJS SPA</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@baseWebUrl/" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/><br />
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Scripts")
    @RenderSection("Scripts", required: false)
    
    <script>
            (function(angular) {
                var app = angular.module('app');
                app.constant('BASE_WEB_URL', '@baseWebUrl');
                app.constant('BASE_WEB_API', '@baseWebApi');
            })(angular);

    </script>
</body>
</html>
